<!DOCTYPE html >
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- css -->
<link
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	rel="stylesheet"
	integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
	crossorigin="anonymous" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous" />
<link rel="stylesheet" th:href="@{/css/mercari.css}">
<link th:href="@{/css/bootstrap.css}" rel="stylesheet">

<!-- script -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"></script>
<script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
    
    $(function(){
    	$("#dai").change(function(){
    		var value=$("#dai option:selected").val();
    		$.get("./category/showList/"+value,function(data){
    			var obj=$.parseJSON(data);
    			$("#tyu").html("");
    			$("#tyu").append("<option value=''>--</option>");
    			for(var i=0;i<obj.length;i++){
    				$("#tyu").append("<option value='"+obj[i].itemValue+"'>"+obj[i].itemLabel+"</option>");
    			}
    		});
    	});
    
	$("#tyu").change(function(){
		var value1=$("#dai option:selected").val();
		var value2=$("#tyu option:selected").val();
		
		$.get("./category/showList/"+value1+"/"+value2,function(data){
			var obj=$.parseJSON(data);
			$("#syou").html("");
			$("#syou").append("<option value=''>--</option>")
			for(var i=0;i<obj.length;i++){
				$("#syou").append("<option value='"+obj[i].itemValue+"'>"+obj[i].itemLabel+"</option>");
			}
		});			
   	});
 });
    
  
    </script>

<title>Rakus Items</title>
</head>
<body>
	<!-- navbar -->
	<nav class="navbar navbar-inverse">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#navbar" aria-expanded="false"
				aria-controls="navbar">
				<span class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="./list.html">Rakus Items</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<div>
				<ul class="nav navbar-nav navbar-right">
					<li><a id="logout" href="./login.html">Logout <i
							class="fa fa-power-off"></i></a></li>
				</ul>
				<p class="navbar-text navbar-right">
					<span id="loginName">user: userName</span>
				</p>
			</div>
		</div>
	</nav>

	<div id="main" class="container-fluid">
		<!-- addItem link -->
		<div id="addItemButton">
			<a class="btn btn-default" href="./add.html"><i
				class="fa fa-plus-square-o"></i> Add New Item</a>
		</div>

		<!-- 検索フォーム -->
		<div id="forms">
			<form th:action="@{/showList}" class="form-inline" role="form">
				<div class="form-group">
					<input type="input" class="form-control" id="name"name="itemName"
						placeholder="item name" />
				</div>
				<div class="form-group">
					<i class="fa fa-plus"></i>
				</div>
				<div class="form-group">

					<select class="form-control" id="dai" name="name1" >
					<option value=" " id=dai>--</option>
						<option th:each="category:${daiCategoryList}" 
							th:value="${category.name}" th:text="${category.name}"
							th:inline="text">- parentCategory -</option>
					</select> 
					
					<select class="form-control" id="tyu" name="name2">
					<option value=" ">--</option>
						<option  th:each="category:${tyuCategoryList}"
							th:value="${category.name}" th:text="${category.name}" 
							th:inline="text"></option>
					</select> 
					
					<select class="form-control" id="syou" name="name3">
					<option value=" ">--</option>
					<option  th:each="category:${syouCategoryList}"
							th:value="${category.name}" th:text="${category.name}" 
							th:inline="text"></option>
					</select>

				</div>
				<div class="form-group">
					<i class="fa fa-plus"></i>
				</div>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="brand" name="brand"/>
				</div>
				<div class="form-group"></div>
				<button type="submit" class="btn btn-default">
					<i class="fa fa-angle-double-right"></i> search
				</button>
			</form>
		</div>

		<!-- pagination -->
		<div class="pages">
			<nav class="page-nav">
				<ul class="pager">

					<li class="previous"><a th:href="@{'showList?page='+${nowPage-1}}">&larr;
							prev</a></li>
					<li class="next"><a th:href="@{'showList?page='+${nowPage+1}}">&larr;
							next</a></li>

				</ul>
			</nav>
		</div>

		<!-- table -->
		<div class="table-responsive">
			<table id="item-table" class="table table-hover table-condensed">
				<thead>
					<tr>
						<th>name</th>
						<th>price</th>
						<th>category</th>
						<th>brand</th>
						<th>condition</th>
					</tr>
				</thead>

				<tbody>
					<tr th:each="item:${itemList}">
					
					
						<td class="item-name">
						<a th:href="@{'/showItemDetail/detail?id='+${item.id}}"><span th:text="${item.name}"></span></a>
						</td>
						<td class="item-price" th:text="${item.price}">52.0</td>
						
						<td class="item-category" >
						
					    <a th:href="@{'/showList/?name1='+${item.daiCategory}}">
						<span th:text="${item.daiCategory}" >
              			</span>
              			</a>			
						
						<a th:href="@{'/showList/?name2='+${item.tyuCategory} + '&name1=' + ${item.daiCategory}}">
						<span th:text="${item.tyuCategory}" ></span>
						</a>
						
						<a th:href="@{'/showList/?name3='+${item.syouCategory}+'&name1=' + ${item.daiCategory}+'&name2='+${item.tyuCategory}}">
						<span th:text="${item.syouCategory}" ></span>
						</a>
						
						</td>
						<td class="item-brand" th:text="${item.brand}"><a href="">Razer</a></td>
						<td class="item-condition" th:text="${item.conditionId}">3</td>
					</tr>
				</tbody>
			</table>
		</div>

		<!-- pagination -->
		<div class="pages">
			<nav class="page-nav">
				<ul class="pager">

					<li class="previous"><a th:href="@{'/showList?page='+${nowPage-1}}">&larr;
							prev</a></li>
					<li class="next"><a th:href="@{'/showList?page='+${nowPage+1}}">&larr;
							next</a></li>

				</ul>
			</nav>
			<!-- ページ番号を指定して表示するフォーム -->
			<div id="select-page">

				<form class="form-inline" th:action="@{/showList}">
					<div class="form-group">
						<div class="input-group col-xs-6">
							<label></label> <input type="text" name="page"
								class="form-control" />
							<!-- 総ページ数 -->
							<div class="input-group-addon" th:text="${totalPages}">/ 20</div>
						</div>
						<div class="input-group col-xs-1">
							<button type="submit" class="btn btn-default">Go</button>
						</div>
					</div>
				</form>

			</div>
		</div>
	</div>
</body>
</html>